.create-container {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 40px;
  right: 0px;
  border-radius: 10px;
  border: 1px solid rgba(221, 221, 221, 1);
  background: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
  transition: all 0.3s ease-out;
  z-index: 1;

  .create-item {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    .create-lable {
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .input-box {
      width: 371px;
      height: 40px;
      border-radius: 10px;
      border-width: 1px;
      border: 1px solid rgba(221, 221, 221, 1);
      font-family: Inter;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0%;
      padding-inline: 15px;
      cursor: pointer;
    }
  }

  .file-upload-button {
    width: 395px;
    height: 129px;
    border-radius: 10px;
    border-width: 1px;
    border: 1px solid rgba(221, 221, 221, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    .input-box-file {
      display: none;
    }
  }

  .create-menu {
    width: 131px;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
  }
  .line-between {
    width: 131px;
    border: 1px solid rgba(221, 221, 221, 1);
    border-width: 1px;
  }
}
.create-open {
  width: 131px;
  height: 70px;
}

.action-button {
  margin: 10px 10px 0 0;
  width: 117px;
  height: 44.14691925048828px;
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;

  border-radius: 10px;
  border-width: 1px;
  border: 1px solid rgba(221, 221, 221, 1);
  background: none;
  &:hover {
    background: rgba(45, 51, 107, 1);
    color: white;
    font-weight: 600;
  }
}
